dist
build
.venv
__pycache__
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.log
*.tmp
*.bak
*.swp
*.swo
*.pyproj
*.sln
*.suo
*.user
*.userprefs
*.sln.docstates
*.vs
*.vscode
*.vscodeignore
generated_images